.input-field-container {
  position: relative;
  height: 60px;
  width: calc(100% - 30px);
  margin: auto;
  margin-left: 15px;
  margin-right: 15px;
  overflow: hidden;
}
.color-1 {
  --color: #17b978;
}
.color-2 {
  --color: #0f9175;
}
.color-3 {
  --color: #086972;
}

.input-field-container input {
  padding-top: 10px;
  margin: 0;
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  font-size: 18px;
  background: #e0e5ec;
}
.input-field-container label {
  text-align: left;
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  pointer-events: none;
  border-bottom: 1px solid var(--color);
}
.input-field-container label::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 100%;
  width: 100%;
  border-bottom: 4px solid var(--color);
  transform: translateX(-100%);
  transition: all 0.3s ease;
}
.input-field-container .content {
  position: absolute;
  bottom: 1px;
  left: 0px;
  transition: all 0.3s ease;
  font-size: 16px;
}
.input-field-container input:focus + .label .content,
.input-field-container input:valid + .label .content,
.input-field-container input:hover + .label .content {
  transform: translateY(-160%);
  font-size: 14px;
  color: var(--color);
}
.input-field-container input:focus + label::after,
.input-field-container input:valid + label::after,
.input-field-container input:hover + label::after {
  transform: translateY(0%);
  transition: all 0.3s ease;
}
