@import "../../style/App.scss";

.image-uploader {
  max-height: 200px;
  max-width: 200px;
  padding: 0;
  position: relative;
  //box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}
.upload_image {
  width: 180px;
  height: 180px;
  padding: 0;
  margin: 0;
  border-radius: 7px;
  object-fit: cover;
}
.image-uploader {
  position: relative;
  width: 180px;
  height: 180px;
  margin: 0;

  //box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
}
.change_button {
  width: 80px;
  height: 35px;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -110%);
  -ms-transform: translate(-50%, -110%);
  background: var(--background-color);
  color: black;
  font-size: 16px;
  border: none;
  cursor: pointer;

  border: 0.1em;
  border-radius: 5px;
  transition: all 0.1s ease;
}
.change_button:hover {
  box-shadow: inset 9px 9px 10px var(--dark-shadow),
    inset -9px -9px 10px var(--light-shadow);
  transition: all 0.1s ease;
}
.chooseFileButton {
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
  background: var(--background-color);
  border: none;
  box-shadow: 6px 6px 10px var(--dark-shadow),
    -6px -6px 10px var(--light-shadow);
  cursor: pointer;
}
.chooseFileButton:active {
  box-shadow: 9px 9px 16px var(--dark-shadow),
    -9px -9px 16px var(--light-shadow), inset 9px 9px 10px var(--dark-shadow),
    inset -9px -9px 10px var(--light-shadow);
}

// .chooseFileButton {
//   width: 140px;
//   font-weight: 400;
//   padding-left: 2em;
//   padding-right: 2em;
//   background-color: white;
//   border: 0.1em;
//   box-shadow: 2px 3px 5px $shadow-color;
//   border-radius: 1em;
// }
// .chooseFileButton:hover {
//   background: var(--button-submit-hover);
// }
