@import "./index.scss";

.login-form {
  position: absolute;
  width: 300px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -55%);
  padding: 20px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  //animation: bounce-5 2s ease;
  box-shadow: 9px 9px 16px var(--dark-shadow),
    -9px -9px 16px var(--light-shadow);
}
.login-form .logo {
  border: 4px solid var(--background-color);
  padding: 5px;
  width: 100px;
  height: 100px;
  margin: auto;
  border-radius: 59px;
  box-shadow: 9px 9px 16px var(--dark-shadow),
    -9px -9px 16px var(--light-shadow), inset 9px 9px 10px var(--dark-shadow),
    inset -9px -9px 10px var(--light-shadow);
}
.login-form .project-info {
  margin-top: 10px;
  font-size: 20px;
  font-weight: 700;
}
.login-form .version {
  font-size: 13px;
  margin-bottom: 50px;
}
.submit-btn {
  cursor: pointer;
  width: 60%;
  height: 40px;
  outline: none;
  color: white;
  font-size: 16px;
  background-color: #3c4856;
  border: 2px solid var(--background-color);
  border-radius: 10px;
  margin: auto;
  margin-top: 20px;
  box-shadow: 9px 9px 16px var(--dark-shadow),
    -9px -9px 16px var(--light-shadow);
  transition: background-color 0.3s ease;
  margin-bottom: 10px;
}
.submit-btn:hover {
  background-color: #3c4856c2;
  transition: background-color 0.3s ease;
}
.submit-btn:active {
  box-shadow: none;
  transition: background-color 0.3s ease;
}
@keyframes bounce-5 {
  0% {
    transform: scale(0.4, 1.1) translateY(-200%);
  }
  50% {
    transform: scale(1, 1) translateY(-110%);
  }
  57% {
    transform: scale(1, 1) translateY(-111%);
  }
  64% {
    transform: scale(1, 1) translateY(-110%);
  }
  100% {
    transform: scale(1, 1) translateY(-110%);
  }
}

.avatar {
  position: relative;
  margin: auto;
  box-shadow: 9px 9px 16px var(--dark-shadow),
    -9px -9px 16px var(--light-shadow);
  background: var(--background-color);
  width: 118px;
  height: 118px;
  border-radius: 75px;
  overflow: hidden;
  margin-bottom: 20px;

  border: 2px solid var(--background-color);
}
.avatar .chooseFileButton {
  width: 50px;
  height: 50px;
  box-shadow: 9px 9px 16px var(--dark-shadow),
    -9px -9px 16px var(--light-shadow);
  background: var(--background-color);
  outline: none;
  border: 2px solid var(--background-color);
  border-radius: 25px;
  cursor: pointer;
}
.avatar .chooseFileButton:hover {
}
.avatar .chooseFileButton:active {
  box-shadow: 9px 9px 16px var(--dark-shadow),
    -9px -9px 16px var(--light-shadow), inset 9px 9px 10px var(--dark-shadow),
    inset -9px -9px 10px var(--light-shadow);
}
.login-form .errors {
  color: red;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
}
.plus {
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  width: 20px;
  height: 20px;
  position: absolute;
  pointer-events: none;
  color: #3c4856;
}
.avatar .chooseFileButton::before {
  content: "AVATAR";
  position: absolute;
  top: 6px;
  font-weight: 800;
  font-size: 14px;
  left: 50%;
  transform: translateX(-50%);
}
.avatar-image {
  height: 118px;
  object-fit: cover;
}
.change-avatar {
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translateX(-50%);
  border: 2px solid var(--background-color);
  outline: none;
  border-radius: 15px;
  background: var(--background-color);

  width: 25px;
  height: 25px;
  cursor: pointer;
}
.change-avatar:hover {
  background: var(--dark-shadow);
}
.change-avatar img {
  transform: rotate(45deg);
  margin-left: -6px;
  margin-top: 2px;
  z-index: 1;
  width: 18px;
  height: 18px;
  pointer-events: none;
  color: #3c4856;
}
